/* CustomAlertTransitionStyle.css */

.alert-enter {
    opacity: 0;
    transform: translateY(-10px);
}

.alert-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
}

.alert-exit {
    opacity: 1;
    transform: translateY(0);
}

.alert-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s, transform 0.5s;
}
